.details {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    &__header {
      padding: 2rem 3rem;
      margin-bottom: 4rem;
  
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #ff6200;
  
      &__h2 {
        text-transform: lowercase;
        letter-spacing: 2px;
        font-size: 3rem;
  
        @media screen and (max-width: 1000px) {
          font-size: 1.5rem;
        }
      }
    }
  
    &__grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(7, 5vw);
      grid-gap: 1rem;
  
      @media screen and (max-width: 656px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      padding: 0 10px;
  
      &__item {
        width: 100%;
        height: 100%;
  
        @media screen and (max-width: 656px) {
          min-height: 200px;
        }
  
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        text-align: center;
        cursor: pointer;
  
        transition: .5s ease-in-out all;
        position: relative;
  
        &::before {
          z-index: 1;
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
  
          transition: .2s ease-in-out all;
          background-image: radial-gradient(#ff620000, #ff620000);
          opacity: 0;
        }
  
        &::after {
          z-index: 1;
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
  
          transition: .2s ease-in-out all;
          background-image: radial-gradient(#ff62004b, #ff620046);
          opacity: 1;
        }
  
        &__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
  
        &>p {
          position: relative;
          z-index: 2;
          transition: .2s ease-in-out all;
          opacity: 0;
          transform: translateY(1rem);
          color: #fff;
          font-weight: 700;
        }
  
        &:hover::before {
          opacity: 1;
          background-image: radial-gradient(#ff62008e, #ff620096);
        }
  
        &:hover p {
          transform: translateY(0rem);
          opacity: 1;
        }
  
        &:nth-child(1) {
          grid-column: 1 / 2;
          grid-row: 1 / 4;
        }
  
        &:nth-child(2) {
          grid-column: 2 / 4;
          grid-row: 1 / 3;
        }
  
        &:nth-child(3) {
          grid-column: 4 / 5;
          grid-row: 1 / 4;
        }
  
        &:nth-child(4) {
          grid-column: 5 / 7;
          grid-row: 1 / 4;
        }
  
        &:nth-child(5) {
          grid-column: 4 / 6;
          grid-row: 4 / 5;
        }
  
        &:nth-child(6) {
          grid-column: 4 / 6;
          grid-row: 4 / 5;
        }
  
        &:nth-child(7) {
          grid-column: 7 / 9;
          grid-row: 1 / 4;
        }
  
        &:nth-child(8) {
          grid-column: 6 / 9;
          grid-row: 4 / 6;
  
          @media screen and (max-width: 656px) {
            display: none;
          }
        }
  
        &:nth-child(9) {
          grid-column: 2 / 4;
          grid-row: 3 / 6;
  
          @media screen and (max-width: 656px) {
            display: none;
          }
        }
  
        &:nth-child(10) {
          grid-column: 1 / 2;
          grid-row: 4 / 8;
  
          @media screen and (max-width: 656px) {
            display: none;
          }
        }
  
        &:nth-child(11) {
          grid-column: 2 / 4;
          grid-row: 6 / 8;
  
          @media screen and (max-width: 656px) {
            display: none;
          }
        }
  
        &:nth-child(12) {
          grid-column: 4 / 6;
          grid-row: 5 / 8;
  
          @media screen and (max-width: 656px) {
            display: none;
          }
        }
  
        &:nth-child(13) {
          grid-column: 6 / 9;
          grid-row: 6 / 8;
  
          @media screen and (max-width: 656px) {
            display: none;
          }
        }
      }
    }
  }
  