.user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    & > input {
      margin-top: 1rem;
      margin-bottom: 1rem;
  
      padding: 1rem 2rem;
    }
  
    &__submit {
      padding: 1rem 0;
      border: 1px solid #000;
      outline: none;
      background-color: rgba(100, 100, 100, 0.185);
      color: #000;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }
  