.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 -5px 5px -5px #ff6200;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    max-width: 600px;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__h3 {
      text-align: center;
      font-size: 2rem;
      letter-spacing: 1px;
      color: #000;
      text-transform: uppercase;
    }

    &__close {
      border: none;
      border-radius: 4px;
      padding: 1rem 2rem;
      background-color: #ff6200;
      color: #fff;
    }
  }
}
