.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 5px 5px -5px #ff6200;
  border-bottom: 0.1rem solid #ff6200;

  &__nav {
    &__desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;

      padding: 0.5rem 1.8rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 1rem 0 0;
      }

      @media screen and (max-width: 486px) {
      }

      & > a {
        color: #000;
        text-decoration: none;
      }

      &__header {
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: 100;
      }

      &__list {
        list-style-type: none;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media screen and (max-width: 486px) {
          margin: 1rem 0;
          border-top: 0.1rem solid #ff620075;

          width: 100%;

          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          justify-content: center;
          justify-items: center;
        }

        &__item {
          padding: 1.5rem 2rem;
          font-size: 1.2rem;
          cursor: pointer;

          @media only screen and (max-width: 1000px) {
            padding: 1rem 1.5rem;
            font-size: 1rem;
          }

          @media screen and (max-width: 568px) {
            padding: 1rem 1.2rem;
            font-size: 0.9rem;
          }

          &:last-child {
            padding: 1.5rem 0 1.5rem 2rem;

            @media screen and (max-width: 486px) {
              padding: 1rem 1.2rem;
            }
          }

          & > a {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }
}
