.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 1.5rem 2rem;

  box-shadow: 0 -5px 5px -5px #ff6200;
  border-top: 0.1rem solid #ff6200;

  @media screen and (max-width: 648px) {
    padding: 1.8rem 2.2rem;
  }

  &__content {
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 648px) {
      flex-direction: column;
      justify-content: center;
    }

    &__logo {
      font-size: 1rem;
      letter-spacing: 0.5rem;

      @media screen and (max-width: 648px) {
        margin-bottom: 1rem;
        text-align: center;
      }
    }

    small {
      font-size: 0.9rem;

      @media screen and (max-width: 648px) {
        text-align: center;
        font-size: 0.6rem;
      }
    }
  }
}
