.users {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-image: url(../../assets/img/main_background.jpeg);
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7);
  }

  &__content {
    width: 100%;
    max-width: 1200px;

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    box-shadow: 0 0 5px #ff6200;

    padding: 2rem;

    background-image: url(../../assets/img/img-noise-361x370.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;

    &__details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }

    &__headings {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      border-bottom: 1px solid #ff6200;

      margin-bottom: 2rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      &__heading {
        font-size: 1.4rem;
        text-transform: uppercase;

        &:nth-child(2) {
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }

    &__select {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;

      // border-right: 1px solid #ff6200;
      padding-right: 2rem;

      @media screen and (max-width: 768px) {
        padding-right: 0;
        padding-bottom: 2rem;

        border-right: none;
      }

      &__heading {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      &__allusers {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__usercontent {
          & > a {
            text-decoration: none;
            color: #000;
            transition: 0.1s ease-in-out all;

            &:hover {
              font-weight: 700;
            }
          }

          width: 100%;
          max-width: 400px;
          padding: 0.6rem 0.5rem;
          margin: 0.5rem 0;

          background-color: #fff;
          display: flex;
          justify-content: space-between;
          align-items: center;

          border: 1px solid #ff6200;
          // cursor: pointer;

          &__user {
            &:first-child {
              margin-right: 3rem;
            }
          }
        }
      }
    }

    .divider {
      width: 1px;
      height: 100%;

      background-color: #ff6200;
    }

    &__add {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__heading {
        display: none;
        font-size: 1.4rem;
        text-transform: uppercase;
        border-bottom: 1px solid #ff6200;

        @media screen and (max-width: 768px) {
          text-align: center;
          padding-bottom: 1rem;
          display: inline-block;
          width: 100%;
        }
      }

      &__add {
        border: none;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.2rem 1.8rem;

        margin: 1rem 0;
      }
    }
  }
}

.button__delete {
  background-color: rgba(231, 15, 15, 0.822);
  color: #fff;
  padding: 3px 5px;
  border: 1px solid #ff6200;
}
